/* --- ADD THIS NEW BLOCK --- */
@theme inline {
  --animate-meteor-effect: meteor 5s linear infinite;
  
  @keyframes meteor {
    0% {
      transform: rotate(215deg) translateX(0);
      opacity: 1;
    }
    70% {
      opacity: 1;
    }
    100% {
      transform: rotate(215deg) translateX(-500px);
      opacity: 0;
    }
  }

  /* Keyframes for Infinite Moving Cards */
  --animate-scroll: scroll var(--animation-duration, 40s) var(--animation-direction, forwards) linear infinite;
 
  @keyframes scroll {
    to {
      transform: translate(calc(-50% - 0.5rem));
    }
  }

  /* This is from the Input component, keep it */
  --shadow-input:
    0px 2px 3px -1px rgba(0, 0, 0, 0.1),
    0px 1px 0px 0px rgba(25, 28, 33, 0.02),
    0px 0px 0px 1px rgba(25, 28, 33, 0.08);
}

@theme inline {
  --shadow-input:
    0px 2px 3px -1px rgba(0, 0, 0, 0.1),
    0px 1px 0px 0px rgba(25, 28, 33, 0.02),
    0px 0px 0px 1px rgba(25, 28, 33, 0.08);
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

.timeline-connector::before {
  content: "";
  position: absolute;
  top: 1.25rem; /* Aligns with the center of the icon */
  left: 1.25rem; /* Aligns with the center of the icon */
  width: 2px;
  height: calc(100% + 2rem); /* Extends from one icon to the next */
  background-color: #334155; /* slate-700 */
}

body {
  font-family: 'Montserrat', sans-serif;
}

@import "tailwindcss";